#  Phrase: div enable scroll bar [overflow]
# ======================================================================
overflow: scroll;

#  Phrase: pre text return [word wrap white space break]
# ======================================================================
white-space: -moz-pre-wrap; /* Mozilla */
white-space: -pre-wrap;     /* Opera 4-6 */
white-space: -o-pre-wrap;   /* Opera 7 */
white-space: pre-wrap;      /* CSS3 */
word-wrap: break-word;      /* IE 5.5+ */


